src/interpreter/smalltalk-vm
src/interpreter/coverage.out
src/interpreter/coverage.html
src/interpreter/interpreter
src/interpreter/vm.go
src/.DS_Store
src/interpreter/interpreter.test
src/interpreter/cpu.prof
src/js-interpreter/node_modules
src/interpreter/compiler_coverage.out
src/interpreter/vm_coverage.out
src/interpreter/core_coverage.out
src/interpreter/cmd/expression_tester/expression_tester

**/.claude/settings.local.json
src/interpreter/smalltalk-vm
